<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		
		<!-- <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/art_design?characterEncoding=UTF-8</property>
		<property name="hibernate.connection.username">art_design</property>
		<property name="hibernate.connection.password">VH_AD_2016</property> -->
		
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/lasso_db?characterEncoding=UTF-8</property>
		<property name="hibernate.connection.username">lasso_user</property>
		<property name="hibernate.connection.password">fq3foMBXKS7ZEzxOErcI</property>
		
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>
		<property name="hibernate.connection.charSet">UTF-8</property>
		<property name="hibernate.hbm2ddl.auto">none</property>
		<property name="hibernate.show_sql">false</property>
		
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">9</property>
		<property name="hibernate.c3p0.timeout">10</property>
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.min_size">2</property>
		<property name="hibernate.c3p0.initialPoolSize">2</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>
		
		<!-- Mapping -->
		<mapping class="com.lasso.rest.model.datasource.Account"/>
		<mapping class="com.lasso.rest.model.datasource.AccountsRating"/>
		<mapping class="com.lasso.rest.model.datasource.Banner"/>
		<mapping class="com.lasso.rest.model.datasource.Category"/>
		<mapping class="com.lasso.rest.model.datasource.Configuration"/>
		<mapping class="com.lasso.rest.model.datasource.Contact"/>
		<mapping class="com.lasso.rest.model.datasource.Country"/>
		<mapping class="com.lasso.rest.model.datasource.Job"/>
		<mapping class="com.lasso.rest.model.datasource.JobsAccount"/>
		<mapping class="com.lasso.rest.model.datasource.JobsStyle"/>
		<mapping class="com.lasso.rest.model.datasource.Message"/>
		<mapping class="com.lasso.rest.model.datasource.PortfolioType"/>
		<mapping class="com.lasso.rest.model.datasource.Portfolio"/>
		<mapping class="com.lasso.rest.model.datasource.Project"/>
		<mapping class="com.lasso.rest.model.datasource.PromoCode"/>
		<mapping class="com.lasso.rest.model.datasource.PromoHistory"/>
		<mapping class="com.lasso.rest.model.datasource.Style"/>
		<mapping class="com.lasso.rest.model.datasource.TypesStyle"/>
		<mapping class="com.lasso.rest.model.datasource.Type"/>
		
	</session-factory>
</hibernate-configuration>
