<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd

		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd

		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- DAO Layer -->
	<bean id="accountDAO" class="com.lasso.rest.dao.impl.ImplAccountDAO"
		lazy-init="false" scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="countryDAO" class="com.lasso.rest.dao.impl.ImplCountryDAO"
		lazy-init="false" scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="portfolioDAO" class="com.lasso.rest.dao.impl.ImplPortfolioDAO"
		lazy-init="false" scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="projectDAO" class="com.lasso.rest.dao.impl.ImplProjectDAO"
		lazy-init="false" scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Service Layer -->
	<bean id="accountManagement" class="com.lasso.rest.service.impl.ImplAccountManagement"
		lazy-init="false" scope="singleton">
		<property name="accountDAO" ref="accountDAO" />
	</bean>
	<bean id="genericManagement" class="com.lasso.rest.service.impl.ImplGenericManagement"
		lazy-init="false" scope="singleton">
		<property name="countryDAO" ref="countryDAO" />
	</bean>
	<bean id="uploadImageManagement" class="com.lasso.rest.service.impl.ImplUploadImageManagement"
		lazy-init="false" scope="singleton">

	</bean>
	<bean id="portfolioManagement" class="com.lasso.rest.service.impl.ImplPortfolioManagement"
		lazy-init="false" scope="singleton">
		<property name="portfolioDAO" ref="portfolioDAO" />
	</bean>
	<bean id="projectManagement" class="com.lasso.rest.service.impl.ImplProjectManagement"
		lazy-init="false" scope="singleton">
		<property name="projectDAO" ref="projectDAO" />
	</bean>

	<!-- Filter Layer -->
	<bean id="accountAuthenticateFilter"
		class="com.lasso.rest.controller.filter.AccountAuthenticateFilter"
		lazy-init="false">
		<property name="accountManagement" ref="accountManagement" />
	</bean>

	<!-- Controller Layer -->
	<bean id="accountController" class="com.lasso.rest.controller.AccountController"
		lazy-init="false">
		<property name="accountManagement" ref="accountManagement" />
		<property name="genericManagement" ref="genericManagement" />
		<property name="avatarStoragePath" ref="avatarStoragePath" />
	</bean>
	<bean id="uploadController" class="com.lasso.rest.controller.UploadController"
		lazy-init="false">
		<property name="accountManagement" ref="accountManagement" />
		<property name="uploadImageManagement" ref="uploadImageManagement" />
		<property name="webContextStoragePath" ref="webContextStoragePath" />
		<property name="avatarStoragePath" ref="avatarStoragePath" />
	</bean>
	<bean id="publicController" class="com.lasso.rest.controller.PublicController"
		lazy-init="false">
		<property name="genericManagement" ref="genericManagement" />
	</bean>
	<bean id="portfolioController" class="com.lasso.rest.controller.PortfolioController"
		lazy-init="false">
		<property name="portfolioManagement" ref="portfolioManagement" />
	</bean>
	<bean id="projectController" class="com.lasso.rest.controller.ProjectController"
		lazy-init="false">
		<property name="projectManagement" ref="projectManagement" />
		<property name="categoryStoragePath" ref="categoryStoragePath" />
	</bean>

	<!-- Utility -->
	<bean id="emailUtil" class="com.lasso.util.EmailUtil" init-method="initialized"
		factory-method="getInstance" lazy-init="false">
		<property name="propertyFile" value="classpath:config/email.properties"></property>
	</bean>

</beans>