<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>lasso-api</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext.xml</param-value>
	</context-param>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/config/log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<!-- <servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>com.lasso.main.LassoApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping> -->
	
	<filter>
    	<filter-name>jersey</filter-name>
    	<filter-class>org.glassfish.jersey.servlet.ServletContainer</filter-class>
    	<init-param>
      		<param-name>jersey.config.server.provider.packages</param-name>
      		<param-value>com.lasso.rest</param-value>
    	</init-param>
    	<init-param>
      		<param-name>jersey.config.server.provider.scanning.recursive</param-name>
      		<param-value>true</param-value>
    	</init-param>
    	<init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>org.glassfish.jersey.jackson.JacksonFeature;org.glassfish.jersey.server.ResourceConfig</param-value>
        </init-param>
	</filter>
	<filter-mapping>
	    <filter-name>jersey</filter-name>
	    <url-pattern>/account/*</url-pattern>
	    <url-pattern>/browse/*</url-pattern>
	    <url-pattern>/manage_order/*</url-pattern>
	    <url-pattern>/manage_project/*</url-pattern>
	    <url-pattern>/message/*</url-pattern>
	    <url-pattern>/portfolio/*</url-pattern>
	    <url-pattern>/upload/*</url-pattern>
	    <url-pattern>/public/*</url-pattern>
	    <url-pattern>/service_fee</url-pattern>
	    <url-pattern>/paypal/*</url-pattern>
	    <url-pattern>/send/*</url-pattern>
  	</filter-mapping>

	<!-- <security-constraint>
		<display-name>exclude</display-name>
		<web-resource-collection>
			<web-resource-name>No Access</web-resource-name>
			<url-pattern>/logs/*</url-pattern>
			<url-pattern>/template/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>manager-gui</role-name>
			<role-name>admin-gui</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>tomcat</role-name>
	</security-role> -->

</web-app>